[submodule "Extern/SDL3"]
	path = Extern/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.18
[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Extern/VulkanMemoryAllocator"]
	path = Extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Extern/stb"]
	path = Extern/stb
	url = https://github.com/nothings/stb.git
[submodule "Extern/tinyobjloader"]
	path = Extern/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
